<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name = "TestNgDefault" verbose="3">

    <test name="RestApiTest">
        <packages>
            <package name="getUserListTests"/>
            <package name="deleteUsersTests"/>
            <package name="registerUserTests"/>
        </packages>
    </test>

</suite>